USE [master]
GO
/****** Object:  Database [ClinicaOdont]    Script Date: 07/10/2019 11:30:27 ******/
CREATE DATABASE [ClinicaOdont]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicaOdont', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ClinicaOdont.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ClinicaOdont_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ClinicaOdont_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicaOdont].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicaOdont]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 07/10/2019 11:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[CPF_Client] [int] NOT NULL,
	[Nome_Client] [varchar](50) NOT NULL,
	[DataNasc_Client] [date] NULL,
	[Endereco_Client] [varchar](50) NULL,
	[Tel_Client] [varchar](15) NULL,
	[RG_Client] [int] NOT NULL,
	[Email_Client] [varchar](50) NULL,
	[Cel_Client] [varchar](16) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CPF_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dentista]    Script Date: 07/10/2019 11:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dentista](
	[CPF_Dent] [int] NOT NULL,
	[Cargo_Dent] [varchar](50) NOT NULL,
	[Tel_Dent] [varchar](15) NULL,
	[Nome_Dent] [varchar](50) NOT NULL,
	[Cel_Dent] [varchar](16) NULL,
	[RG_Dent] [int] NOT NULL,
	[Email_Dent] [varchar](50) NULL,
	[DataNasc_Dent] [date] NULL,
 CONSTRAINT [PK_Dentista] PRIMARY KEY CLUSTERED 
(
	[CPF_Dent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Secretario]    Script Date: 07/10/2019 11:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Secretario](
	[CPF_Sec] [int] NOT NULL,
	[Cargo_Sec] [varchar](50) NOT NULL,
	[Tel_Sec] [varchar](15) NULL,
	[Nome_Sec] [varchar](50) NOT NULL,
	[Cel_Sec] [varchar](16) NULL,
	[RG_Sec] [int] NOT NULL,
	[Email_Sec] [varchar](50) NULL,
	[DataNasc_Sec] [date] NULL,
 CONSTRAINT [PK_Secretario] PRIMARY KEY CLUSTERED 
(
	[CPF_Sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
